* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Lato", sans-serif;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

.center {
    padding-left: calc(50% - 570px);
    padding-right: calc(50% - 570px);
}

.header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-top: 18px;
    padding-bottom: 18px;
    background-color: #222;
}

.header__left {
    display: flex;
    gap: 41px;
    align-items: center;
}

.header__right {
    display: flex;
    gap: 32px;
    align-items: center;
}

.start-info {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #F8F3F4;
}

.start-info__heading {
    font-size: 24px;
    font-weight: normal;
    color: #F16D7F;
}

.cart-content {
    padding-top: 96px;
    padding-bottom: 128px;
    display: flex;
    justify-content: space-between;
}

.cart-box {
    display: flex;
    flex-direction: column;
    gap: 40px;
    max-width: 652px;
}

.cart-box__content {
    margin-top: 22px;
}

.cart-box__item {

    display: flex;
    align-items: flex-start;
    gap: 80px;
    padding: 10px;
    border: 1px solid #e8e8e8;

}

.cart-box__remove {
    align-self: flex-start; /* Крестик на уровне h3 */
  margin-top: 1.5em;
    margin-left: auto;
    flex-shrink: 0;
}

.cart-box__item-heading {
    font-size: 24px;
    color: #222222;
    margin-bottom: 42px;
    max-width: 262px;
    font-weight: 400;
}

.cart-box__text {
    color: #575757;
    font-size: 22px;
}

.cart-box__ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.select-color {
    color: #EF5B70;
}

.cart-box__count {
    width: 44px;
    height: 24px;
    border: 1px solid #EAEAEA;
    text-align: center;
    font-family: "Lato", sans-serif;
    font-size: 18px;
    color: #656565;
}

.cart-box__text_counter {
    display: flex;
    align-items: center;
    gap: 24px;
}

.cart-box__buttons {
    margin-top: 32px;
    display: flex;
    justify-content: space-between;
}

.button-border {
    border: 1px solid #A4A4A4;
    padding: 16px 40px;
    font-size: 14px;
    font-weight: 300;
    color: #000;
    background-color: #fff;
}


.cart-info__form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 360px;
}

.cart-info__heading {
    color: #222222;
    font-size: 16px;
    font-weight: 300;
}

.cart-info__input {
    border: 1px solid #A4A4A4;
    height: 45px;
    width: 100%;
    padding-left: 16px;
    padding-right: 16px;
    font-family: "Lato", sans-serif;
    font-size: 13px;
    color: #222222;
}

.cart-info__btn {
    padding: 10px 12px;
    border: 1px solid #A4A4A4;
    font-size: 11px;
    color: #4A4A4A;
    background-color: #fff;
    align-self: start;
}

.cart-info__total {
    padding: 38px 42px 42px;
    background-color: #F5F3F3;
    margin-top: 57px;
    text-align: right;
}

.cart-info__text {
    font-size: 13px;
    color: #4A4A4A;
    font-weight: 400;
    margin-bottom: 13px;
}

.cart-info__grand {
    font-size: 19px;
    color: #222;
    font-weight: 300;
    margin-bottom: 21px;
}

.select-color {
    font-weight: bold;

}

.cart-info__line {
    background-color: #E2E2E2;
    height: 1px;
    width: 100%;
    margin-bottom: 17px;
}

.cart-info__button-checkout {
    padding: 16px 42px;
    font-size: 16px;
    font-weight: 300;
    color: #fff;
    background-color: #F16D7F;
    border: none;
}

/* .cart-info {} */


@media (max-width: 1024px) and (min-width: 769px) {
    .center {
        padding-left: 16px;
        padding-right: 16px;
    }

    .cart-content {
        flex-direction: column;
        padding-top: 30px;
        padding-bottom: 30px;
    }


    .cart-box__buttons {
        justify-content: center;
        gap: 64px;

    }

    .cart-info {
        display: flex;
        gap: 32px;

    }

    .cart-info__total {

        padding: 20px 24px;
        width: 100%;
        text-align: left;
    }
}


@media (max-width: 768px) and (min-width: 481px) {
    .center {
        padding-left: 16px;
        padding-right: 16px;
    }

    .cart-content {
        flex-direction: column;
        padding-top: 30px;
        padding-bottom: 30px;
    }


    .cart-box__buttons {
        justify-content: center;
        gap: 16px;

    }

    .cart-info {
        display: flex;
        flex-direction: column;
        gap: 32px;

    }

    .cart-info__button-checkout {

        width: 100%;
        text-align: center;
    }

    .cart-info__text {

        font-family: 32px "Lato", sans-serif;
        font-weight: 300;


    }

    .cart-info__total {
        padding: 100px 100px;


    }
}